<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Bearstrength</title>
    <link href="~/css/Site.css" rel="stylesheet" />
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Bangers|Oswald|Roboto" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand">
                        @Html.ActionLink("Bear", "Index", "Home", new { area = "" }, new { @class = "bear" })
                        @Html.ActionLink("strength", "Index", "Home", new { area = "" }, new { @class = "strength" })
                    </div>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        @*@Html.Partial("_NavPartial")
                            @Html.Partial("_LoginPartial")*@
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container body-content">
        @RenderBody()
        <footer>
            <div>&copy; @DateTime.Now.Year - Bearstrength - @Html.ActionLink("Contact", "Contact", "Home")</div>
        </footer>
    </div>

    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>

